.container-fluid
  .tasks_top_boxies
    .task_search_box.form-inline
      = search_form_for @search do |form|
        = form.search_field :name_cont, class: "form-control", placeholder: "タスク名"
        = form.select :status_eq, Task.statuses.map {|k, v| [I18n.t("enums.task.status.#{k}"), v] }, {include_blank: true}, class: "form-control mr-sm-2"
        - Label.all.each do |label|
          span.mr-1
            = label.name
          span.mr-2
            = form.check_box :labels_id_eq_any, { multiple: true, include_hidden: false }, label[:id]
        = form.submit "検索", class: "btn btn-primary"
    .tasks_pagenation
      = paginate @tasks, theme: 'twitter-bootstrap-4'
  table.table.table-bordered
    tr
      th
        =Task.human_attribute_name("name")
      th
        =Task.human_attribute_name("status")
      th
        = sort_link(@search, :priority)
      th
        = sort_link(@search, :expired_at)
      th
        =Task.human_attribute_name("created_at")
      th
        =Label.human_attribute_name("name")
    - @tasks.each do |task|
      tr.task_row
        td.task_name
          = task.name
        td.task_status
          = task.status_i18n
        td.task_priority
          = task.priority_i18n
        td.task_expired_at
          = l task.expired_at
        td.task_created_at
          = l task.created_at
        td.task_labels
          - task.labels.each do |label|
            span.task_label
              = label.name
              |  
        - if current_user_task?(task)
          td
            = link_to "詳細", task_path(task)
